#nav-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 2em 0 2em;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}

#nav-bar .header {
  margin-left: 10px;
  float: left;
  line-height: 80px;
  font-size: 2em;
}

#nav-bar button {
  float: right;
  padding: 15px;
  margin: 15px 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  color: #00a087;
  opacity: 0.8;
}

#nav-bar button:hover {
  position:;
  float: right;
  padding: 15px;
  margin: 15px 15px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  opacity: 1;
}













